@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
     themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
}

body{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Smooth infinite marquee animation */
.marquee-track {
  width: max-content;
  display: flex;
  animation: marquee-scroll 18s linear infinite;
}

/* Hover animation stop */
.marquee:hover .marquee-track {
  animation-play-state: paused;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}



/* Custom Swiper pagination between arrows */
.custom-pagination.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* inactive bullets */
.custom-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #b8dfe0;
  border-radius: 50%;
  opacity: 1;
}

/* active bullet */
.custom-pagination .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: #003B3A;
}

/* Arrow shadows */
.prevBtn, .nextBtn {
  box-shadow: 0 6px 16px rgba(2,6,23,0.06);
}


